/* variables */
:root {
    /* navy blue */
    --headline-color: #2E2F42;
    /* slate */
    --secondary-color: #434455;
    /* iris */
    --logo-style-color: #4D5AE5;

    --button-color: #404BBF;
    --logo-footer-color: #F4F4FD;
    --simple-white:#fff;
    --footer-social-logo-color:rgba(255, 255, 255, 0.1);
    --accent-color:#31D0AA;
    --customers-border-color: #8E8F99;
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}


a {
    text-decoration: none;
}
.list {
    list-style: none;
}
h1,h2,h3,h4,h5,h6,
p,ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/* Header */

.header{
    display: flex;
    align-items: center;
}

.header-style {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--secondary-color) ;
}

/* logo */

.logo{
    margin-right: 76px;
}

.logo-first-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--logo-style-color);
    text-transform: uppercase;
}

.logo-second-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--headline-color);
    text-transform: uppercase;
}
.logo-second-part-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--logo-footer-color);
    text-transform: uppercase;
}

/* Portfolio page */
/* Navigation */

.navigation {
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
}

.navigation-list .nav-link {
    display: inline-block;
    padding: 24px 0;
}
.navigation-list .item+.item{
    margin-left: 40px;
}

.navigation-list .item{
    position: relative;
}

.address {
    display: flex;
    margin-left: auto;
}
.address-list{
    display: flex;
}

.address-list .item+.item {
    margin-left: 40px;
}

.active-page::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
}

.active-page{
    color:currentColor;
    transition: color 250ms var(--animation-cubic);
}

.active-page:hover,
.active-page:focus {
    color: var(--logo-style-color); 
}

.other-page{
    color: var(--headline-color);
    transition: color 250ms var(--animation-cubic);
}
.other-page:hover,
.other-page:focus {
    color: var(--logo-style-color);
}

.address-list {
}



.address-item {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    letter-spacing: 0.02em;
    color:currentColor;
    transition: color 250ms var(--animation-cubic);
}
.address-item:hover,
.address-item:focus {
    color: var(--logo-style-color);
}
/* 
.address-list .item .email::before{
    content:'\2709';
    margin-right: 10px;
} */

/* .address-list .item .tel::before{
    content:'\260E';
    margin-right: 10px;
} */

/* main */

/* filter */

.filter{
    padding-top: 96px;
    padding-bottom: 120px;
}


.filter-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--logo-style-color) ;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    transition: color 250ms var(--animation-cubic), 
    background-color 250ms var(--animation-cubic),
    border-color 250ms var(--animation-cubic),
    box-shadow 250ms var(--animation-cubic);
}

.filter-item:hover,
.filter-item:focus {
    color:var(--simple-white);
    background-color: var(--button-color);
    border-color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.filter .filter-item{
    padding: 12px 24px;
}

.filter .filter-list .item +.item{
    margin-left: 24px;
}

/* Example of works */


.examples-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
    margin-bottom: 8px;
}

.example-type {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.examples-list {
    display: flex;

    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

    
}

.examples-list .item{
    
    flex-basis: calc((100% - 2*24px)/3);
}


.examples-list .text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.examples-list-link{
    display: block;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms var(--animation-cubic);
}

.examples-list-link:hover,
.examples-list-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.img-overlay{
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 0;

    

    padding: 40px 32px;

    width: 100%;
    height: 100%;

    background: #4D5AE5;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.examples-list .item:hover .overlay-text{
    transform: translate(0, -100%); 
}

/* footer portfolio */

.footer {
    background-color: var(--headline-color); 
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* Main page */

.headline-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--headline-color);
    padding-top: 188px;
    padding-bottom: 188px;
    
}

.overlay{
    background-image:
    linear-gradient(to right, rgba(46,47,66,0.7) 50%, rgba(46,47,66,0.7) 50% ), url(../images/people-office.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
}
.headline-section-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--simple-white);
}
.headline-section-button {
    display: flex;
    justify-content: center;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;

    color: var(--simple-white);
    background-color: var(--logo-style-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms var(--animation-cubic);
}
.headline-section-button:hover,
.headline-section-button:focus {
    background-color:var(--button-color) ;
}

.button{
    display: flex;
    justify-content: center;
}


.modal-close-button .icon{

}

/* Our Qualities */

.qualities {
    padding-top: 120px;
    padding-bottom: 120px;

}

.qualities-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
    margin-bottom: 8px;
}

.qualities-list .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.qualities-list {
    display: flex;

}

.qualities-list .list{
    width: 264px;
}

.qualities-list .list +.list{
    margin-left: 24px;
}

.our-qualities-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: var(--logo-footer-color);
    border-radius: 4px;
}


.icon-qualities {

    width: 64px;
    height: 64px;
}
/* What are we doing */

.works{
    padding-bottom: 120px;
}

.works-list {
    display: flex;
}
.works-list .list +.list{
    margin-left: 24px;
}

/* Our team */

.our-team-title{
}

.ourt-team-container{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team{
    background-color:var(--logo-footer-color);
}

.our-team-list {
    display: flex;
}

.our-team-list .item + .item{
    margin-left: 24px;
}

.our-team-list .title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
    margin-bottom: 8px;
}

.our-team-list .text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

}

.our-team-list .description {
    padding-top: 32px;
    padding-bottom: 32px;
}

.description {
    padding-left: 16px;
    padding-right: 16px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.social-list{
    display: flex;
    margin-top: 8px;
    gap: 24px;
}



.social-list-item{
    display: flex;
    
    padding: 12px;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: var(--logo-style-color);

    transition: background-color 250ms var(--animation-cubic);
}

.social-list-item:hover{
    background-color:var(--button-color);
}
.icon-social{
    width: 16px;
    height: 16px;
} 

/* Customers */

.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers .title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    gap: 24px;
}

.customers-list .item{
    width: calc((100% - 5*24px)/6);
    height: 88px;
}

.customers-link{
    border: 1px solid #8E8F99;
    border-radius: 4px;
    border-color: var(--customers-border-color);
}


.customers-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--customers-border-color);
    border-color: var(--customers-border-color);

    transition: color 250ms var(--animation-cubic), border-color 250ms var(--animation-cubic) ;
}

.customers-list .icon{
    fill:currentColor;
}

.customers-list .customers-link:is(:hover,:focus) {
    border-color:var(--button-color);
    color: var(--button-color);
}
/* footer */

.footer {
    display: flex;
    min-height: 310px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-text {
    margin-top: 16px;
}
.footer-subtitle{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-container{
    display: flex;
    align-content: flex-start;
    gap: 80px;
}

.footer-social{
    margin-left: 40px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-list-item{
    width: 40px;
    height: 40px;
}

.footer-social-link{
    width: 100% ;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;  

    border-radius: 50%;
    background-color: var(--footer-social-logo-color);
    
    transition: background-color 250ms var(--animation-cubic);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-color);
}

.footer-icon-social{
    width: 24px;
    height: 24px;
}

.footer-form button[type="submit"]{
    width: 165px;
    height: 40px;


    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;

    font-size: 16px;
    line-height: 24px;

    background: #4D5AE5;
    border-color: transparent;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    cursor: pointer;

    transition: background 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic); 
}

.footer-form button[type="submit"]:hover{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-form{
    
}

.footer-form-title{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}

.footer-form input[type="email"]{
    width: 264px;
    height: 40px;

    padding: 8px 16px;

    color: #fff;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border 250ms var(--animation-cubic);
}

.footer-form input[type="email"]:focus{
    border: 1px solid #4D5AE5;
    outline: none;
}

.footer-form-wrap{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}



/* Utilities */

.title-secondary-level {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headline-color);
}
.img-fix {
    display: block;
}



/* .img-team{
    box-shadow: 0px 1px 6px;
    border-radius: 0px 0px 4px 4px;
} */

/* backdrop + modal */

.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}

.modal{
    padding:72px 24px 24px 24px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.3);
}

.backdrop {
    transform:scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.backdrop .modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    
}

.modal-form{
    
}

.modal-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;

    fill:#000;

    top: 24px;
    right: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: background 250ms var(--animation-cubic), fill 250ms var(--animation-cubic);
}

.modal-close-button:active{
    background: #404BBF;
    fill:#FFFFFF;
}


.modal-close-button .icon{
    fill:inherit;
}

.modal-label{
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;

}
.icon-wrap{
    margin-bottom: 8px;
}


.icon-wrap input{
    display: block;
    width: 100%;
    padding: 8px 16px 8px 38px;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms var(--animation-cubic);

}
.icon-wrap input:focus{ 
    border: 1px solid #4D5AE5;
    outline: none;
}



.modal button[type="submit"]{
    margin: 0 auto;
    display: block;
    
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;

    color: #FFFFFF;font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;

}

.modal button[type="submit"]:hover{
    background: #404BBF;
}

.modal-form textarea{
    margin-bottom: 16px;
    padding: 8px 16px;
    width: 360px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border 250ms var(--animation-cubic);
}

.modal-form textarea:focus{
    border: 1px solid #4D5AE5;
    outline: none;
} 
.modal-form textarea::placeholder{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.policy-wrap{
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
}

.policy-wrap label[for="policy"]{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.icon-wrap{
    display: flex;
    position: relative;
}
.form-icon{
    position: absolute;
    top:50%;
    left:16px;
    transform: translate(0, -50%);
    
}

.policy-wrap label{
    display: flex;

}

.policy-link{
    text-decoration-line: underline;
    color: #4D5AE5;
}

.policy-wrap input[type="checkbox"]{
    appearance: none;
    position: absolute;
}

.policy-wrap .icon{

    margin-right: 8px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;

    
}

.policy-wrap input[type="checkbox"]:checked + .icon{
    background: #404BBF;
    border: 1.25px solid #404BBF;


    background-image: url(../images/check-mark.svg);
    background-size: contain;
}






